.container {
  max-width: 400px;
  margin: auto;
}
@media (min-width: 576px) {
  .container {
  max-width: 500px;
}
}
@media (min-width: 768px) {
  .container {
  max-width: 700px;
}
}
@media (min-width: 992px) {
  .container {
  max-width: 900px;
}
}
@media (min-width: 1200px) { 
  .container {
  max-width: 1000px;
}
}
body{
  color: darkgreen;
  font-family:sans-serif;
}
a, a:visited {
  color: darkgreen;
}
h1{
  font-size:1.5rem;
  text-align:center;
  margin: 2rem;
}
h2{
  font-size:1rem;
  text-align:center;
  margin: 1rem 0.5rem;
}
.gallery-container {
  display:flex;
  flex-grow: 1;
  flex-wrap:wrap;
  justify-content: space-between;
}
.gallery-container .gallery-item{
  flex: 0 0 auto;
  width: 48%;
  margin-bottom: 1rem;
  background: floralwhite;
  border: 1px solid #535f5378;
  box-shadow: 5px 5px 8px #535f5326;
}
@media (min-width: 576px) {
 .gallery-container .gallery-item{
  width: 32%;
}
}
.gallery-container .gallery-item .gallery-img {
    padding-top: 60%;
    position: relative;
    display: block; 
    overflow: hidden;
}
.gallery-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}